In [4]:
import sqlite3
import pandas as pd

In [5]:
conn = sqlite3.connect('healthcare_data.db')
cursor = conn.cursor()

In [3]:
# Create Patients Table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS patients (
        patient_id INTEGER PRIMARY KEY,
        patient_name TEXT NOT NULL
    )
''')

In [7]:
# Query and display the contents of the 'patients' table
patients_df = pd.read_sql_query("SELECT * FROM patients", conn)
patients_df

Empty DataFrame
Columns: [patient_id, patient_name]
Index: []

In [9]:
# Create EncounterTypes Table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS encounter_types (
        type_id INTEGER PRIMARY KEY,
        coding_system TEXT,
        coding_code TEXT,
        coding_display TEXT,
        text TEXT
    )
''')
# Query and display
encounter_types = pd.read_sql_query("SELECT * FROM encounter_types", conn)
encounter_types

Empty DataFrame
Columns: [type_id, coding_system, coding_code, coding_display, text]
Index: []

In [13]:
# Create Locations Table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS locations (
        location_id INTEGER PRIMARY KEY,
        location_reference TEXT,
        location_display TEXT
    )
''')
# Query and display
locations = pd.read_sql_query("SELECT * FROM locations", conn)
locations

Empty DataFrame
Columns: [location_id, location_reference, location_display]
Index: []

In [14]:
# Create Diagnoses Table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS diagnoses (
        diagnosis_code TEXT PRIMARY KEY,
        diagnosis_display TEXT,
        diagnosis_system TEXT
    )
''')
# Query and display
diagnoses = pd.read_sql_query("SELECT * FROM diagnoses", conn)
diagnoses

Empty DataFrame
Columns: [diagnosis_code, diagnosis_display, diagnosis_system]
Index: []

In [15]:
# Create Encounters Table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS encounters (
        encounter_id INTEGER PRIMARY KEY,
        patient_id INTEGER,
        status TEXT,
        type_id INTEGER,
        practitioner_name TEXT,
        encounter_date DATE,
        condition_observed TEXT,
        location_id INTEGER,
        diagnosis_code TEXT,
        FOREIGN KEY (patient_id) REFERENCES patients(patient_id),
        FOREIGN KEY (type_id) REFERENCES encounter_types(type_id),
        FOREIGN KEY (location_id) REFERENCES locations(location_id),
        FOREIGN KEY (diagnosis_code) REFERENCES diagnoses(diagnosis_code)
    )
''')
# Query and display
encounters = pd.read_sql_query("SELECT * FROM encounters", conn)
encounters

Empty DataFrame
Columns: [encounter_id, patient_id, status, type_id, practitioner_name, encounter_date, condition_observed, location_id, diagnosis_code]
Index: []

In [18]:
# Read data from the JSON file
with open('fhir_encounters.jsonl', 'r') as file:
    data = json.load(file)

NameError: name 'json' is not defined